<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>제주항공</title>
  <link rel="stylesheet" href="../../assets/css/global.css">
  <link rel="stylesheet" href="../../assets/css/component.css">
  <link rel="stylesheet" href="../../assets/css/page.css">
  <link rel="stylesheet" href="../../assets/css/responsive.css">
<link rel="stylesheet" href="../guide.css">
  <link rel="stylesheet" href="../css/atelier-estuary-light.css">
  <script src="../vue.js"></script>
</head>
<body>
  <div id="compo">
    <!-- <div class="component-title">Select</div> -->
    <div class="component-title">Modal(기본)</div>
    <div class="component-sub">
      <item guide-type="html">
        <ul class="component-description">
          <li>디자인 전 이므로 변경 될 수 있음</li>
          <li>data-modal-type: 기본 default, 경고/선택 alert, 전체화면 full</li>
          <li>사용 플러그인: <a href="https://github.com/kylefox/jquery-modal" target="_blank">https://github.com/kylefox/jquery-modal</a></li>
        </ul>
        <pre class="component-tag">
          <a href="#"
            data-element="modal_anchor"
            data-target="#modalLayer01"
            data-modal-type="default">
            Open Modal
          </a>
          <div id="modalLayer01" class="modal modal-default ">
            <div  class="modal-content">
              <p class="modal-content__title">가입되어 있지 않은<br/>계정입니다.</p>
              <p class="modal-content__text">회원으로 가입하시면 각종 회원 전용<br/>서비스를 이용하실 수 있어요</p>
            </div>
            <div class="modal__button-area button-wrap">
              <button type="button" class="button button--secondary"><span class="button__text">취소</span></button>
              <button type="button" class="button button--secondary button--active"><span class="button__text">회원가입하기</span></button>
            </div>
            <a href="#" rel="modal:close" class="modal__close"><span class="blind">닫기</span></a>
          </div>
        </pre>
        <template slot="footer">
          <ul class="component-description">
            <li>
              <strong>이벤트 목록</strong>
              <ul>
                <li>modal.BEFORE_BLOCK : modal layer 의 overlay 가 화면에 노출되기 전</li>
                <li>modal.BLOCK : modal layer 의 overlay 가 화면에 노출</li>
                <li>modal.BEFORE_OPEN : modal layer 가 화면에 노출 전</li>
                <li>modal.OPEN : modal layer 가 닫혔을때</li>
                <li>modal.BEFORE_CLOSE  modal layer 가 닫히기 전</li>
                <li>modal.CLOSE : modal layer 가 닫혔을때</li>
                <li>modal.AFTER_CLOSE : modal layer 가 닫힌 이후</li>
              </ul>
            </li>
          </ul>
          <div class="component-code">
            <pre class="inline"><code class="text">$('#modal').on($.modal.BEFORE_CLOSE, function(event, modal) {
  console.log('modal')
});</code></pre>
          </div>
        </template>
      </item>
    </div>
    <div class="component-title">Modal(텍스트 w640)</div>
    <div class="component-sub">
      <item guide-type="html">
        <pre class="component-tag">
          <a href="#" data-element="modal_anchor" data-target="#modalLayer02">
            텍스트 w640
          </a>
          <div id="modalLayer02" class="modal modal-full ">
            <div  class="modal-header">
              <div class="modal-header__title">필리핀 비동반 소아규정</div>
            </div>
            <div class="modal-content">
              <div class="container--small">
                <div class="list-wrap">
                  <div class="title">
                    <h2 class="title__section title__section--small">필리핀 비동반 소아(UM)</h2>
                  </div>
                  <ul class="list-guide">
                    <li class="list-guide__item">혼자 여행하는 만 5세 이상~만 15세 미만의 소아</li>
                  </ul>
                </div>
              </div>

              <div class="container--default">
                <div class="list-wrap">
                  <div class="title">
                    <h2 class="title__section title__section--small">보호자 동반</h2>
                  </div>
                  <ul class="list-guide">
                    <li class="list-guide__item">혼자 여행하는 만 5세이상~만 15세 미만의 소아</li>
                    <li class="list-guide__item point"><span class="point"></span>보호자의 기준 : 부모가 아닌 성인 보호자(친척, 가디언 등) 단, 보호자는 만 18세 이상이어야 함
                    </li>
                  </ul>
                </div>
              </div>

              <div class="container--default">
                <div class="list-wrap">
                  <div class="title">
                    <h2 class="title__section title__section--small">입국 시 증빙 서류</h2>
                  </div>
                  <ul class="list-guide">
                    <li class="list-guide__item">공증받은 영문 부모 동의서, 영문 주민등록등본, 승객 및 보호자 여권사본, 왕복 항공권 확인증</li>
                    <li class="list-guide__item">입국서류(입국 시 작성) 및 입국수수료 (Application for Waiver of Exclusion Ground (W.E.G))</li>
                    <li class="list-guide__item">필리핀을 여행하는 만 15세 미만의 승객이 어머니만 동반하고, 어머니 여권상의 영문 성이 가족과 다를 경우 영문 주민등록등본을 지참하여 주시기 바랍니다.</li>
                    <li class="list-guide__item">부모 없이 또는 부모 이외의 보호자와 동반 입국 시, 친부모가 제3자에게 소아의 입국 절차를 위임하도록 하는 입국 서류 WEG(Waiver of Exclusion Ground) 작성 후, 수수료(PHP 3,120)를 준비하셔야 합니다.</li>
                    <li class="list-guide__item">필리핀 이민국 규정을 위반할 경우 입국이 허락되지 않을 수 있으니 이점 유의하시기 바랍니다.(출국 시, 수수료 영수증 소지 필수)</li>
                    <li class="list-guide__item">비동반 소아 여행 신청서 및 보호자 서약서는 출발지 공항 카운터에서 작성하실 수 있습니다.</li>
                  </ul>
                </div>
              </div>
            </div>
            <a href="#" rel="modal:close" class="modal__close"><span class="blind">닫기</span></a>
          </div>
        </pre>
      </item>
    </div>

    <div class="component-title">Modal(텍스트 w480))</div>
    <div class="component-sub">
      <item guide-type="html">
        <pre class="component-tag">
          <a href="#" data-element="modal_anchor" data-target="#modalLayer04" data-modal-type="full">결과화면 w480</a>
          <div id="modalLayer04" class="modal modal-full  pc-480">
            <div  class="modal-header">
              <div class="modal-header__title">미가입 계정 안내</div>
            </div>
            <div class="modal-content">
              <div class="finish-item-wrap finish-item-wrap--full">
                <div class="finish-item no-data">
                  <div aria-hidden="true" class="finish-item__img"></div>
                  <p class="finish-item__title">가입되어 있지 않은 계정입니다</p>
                  <p class="finish-item__text">회원으로 가입하시면 각종 회원 전용<br>서비스를 이용하실 수 있습니다.</p>
                </div>
              </div>
              <div class="button-wrap" data-element="bottomContent">
                <button type="button" class="button button--primary button--active"><span class="button__text">회원가입하기</span></button>
              </div>
            </div>
            <a href="#" rel="modal:close" class="modal__close"><span class="blind">Close</span></a>
          </div>
        </pre>
      </item>
    </div>

    <div class="component-title">Custom Alert(기본)</div>
    <div class="component-sub">
      <item guide-type="html">
        <ul class="component-description">
          <li>디자인 전 이므로 변경 될 수 있음</li>
          <li>data-modal-type: 기본 default, 경고/선택 alert, 전체화면 full</li>
        </ul>
        <pre class="component-tag">
          <a href="#" data-target="#modalLayer03" data-element="modal_anchor"  data-modal-type="alert">Open Modal</a>
          <div id="modalLayer03" class="modal ">
            <p class="ui-select-tit">Modal testtest</p>
            <a href="#" rel="modal:close">Close</a>
          </div></pre>
        <ul class="component-note">
          <li>기본 셀렉트</li>
        </ul>
      </item>
    </div>
  </div>

  <script src="../../assets/js/lib/lib.min.js"></script>
  <script src="../../dashboard/highlight.pack.js"></script>
  <script src="../../assets/js/common.js"></script>
  <script>
    const encodeHTML = (str) => {
      return str.replace(/[\u00A0-\u9999<>&](?!#)/gim, (i) => {
        return '&#' + i.charCodeAt(0) + ';';
      });
    }
    hljs.initHighlightingOnLoad();
  </script>

  <script>
    const innerComp = Vue.extend({
      props: ['slotData', 'guideType'],
      template: `<pre><code :class="guideType">{{ tagItem }}</code></pre>`,
      computed: {
        tagItem() {

          return this.slotData
        }
      }
    })

    const wrapperComp = Vue.extend({
      props: ['guideType'],
      template: `<div class="wrap-slot">
          <div class="component-item">
            <slot name="default"></slot>
          </div>
          <div class="component-code">
            <button type="button" class="toggle-expend" @click="toggleExpend">toggle expend</button>
            <item-inner :slot-data="tagList" :guide-type="guideType"></item-inner>
          </div>
          <slot name="footer"></slot>
        </div>`,
      data: () => {
        return {
          slotTag: ''
        }
      },
      components: {
        'item-inner': innerComp
      },
      computed: {
        tagList() {
          return this.slotTag
        }
      },
      mounted() {
        const slotItem = $(this.$el).find('.component-tag').html()
        this.slotTag = slotItem
      },
      methods: {
        toggleExpend() {
          const elem = this.$el.querySelector('.component-code')
          elem.classList.toggle('expend')
        },
      }
    })

    Vue.component('item', wrapperComp)
    Vue.component('item-inner', innerComp)

    new Vue({
      el: '#compo',
      data: () => {
        return {
          def: '',
        }
      }
    })
  </script>
</body>
</html>