caption,
.blind,
.hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.mobile-only{
  @include pc{
    display: none !important;
  }
  @include mobile{
    display: block;
  }
}
.pc-only{
  @include mobile{
    display: none !important;
  }
  @include pc{
    display: block;
  }
}

.align{
  &-right{
    text-align: right !important;
  }
  &-left{
    text-align: left !important;
  }
  &-center{
    text-align: center !important;
  }
}

.no-margins{
  margin: 0 !important;
}
