.header{
  $root: &;
  width: 100%;
  background: $header;
  &__inner{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100px;
  }
  &__logo{
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 58px;
    transform: translateY(-50%);
    width: 235px;
    height: 31px;
    // color: #fff;
    padding-top: 31px;
    background: url(../images/logo_singlex.png) 0 0 no-repeat;
  }
  &__info{
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 51px;
    transform: translateY(-50%);
    width: auto;
    color: #fff;
    .name{
      font-size: 14px;
      font-weight: 400;
    }
    .profile{
      overflow: hidden;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      margin-left: 7px;
    }
  }
}

.gnb{
  $root: &;
  display: flex;
  align-items: center;
  &__item{
    position: relative;
    padding: 0 18px;
    &--single{
      &::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 1px;
        height: 16px;
        background: #8996A3;
      }
    }
  }
  &__link{
    color: #8996A3;
    font-weight: 500;
    &.is_active{
      color: #fff;
    }
  }
}

.content{
  width: 100%;
  & > .container{
    @extend %container;
    padding-bottom: 45px;
  }
}
