@font-face {
  font-family: 'notosans';
  src: url(../fonts/notosans/NotoSansKR-Light.otf),
  url(../fonts/notosans/NotoSansKR-Light.woff),
  url(../fonts/notosans/NotoSansKR-Light.woff2);
  font-weight: 300;
}
@font-face {
  font-family: 'notosans';
  src: url(../fonts/notosans/NotoSansKR-Regular.otf),
  url(../fonts/notosans/NotoSansKR-Regular.woff),
  url(../fonts/notosans/NotoSansKR-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: 'notosans';
  src: url(../fonts/notosans/NotoSansKR-Medium.otf),
  url(../fonts/notosans/NotoSansKR-Medium.woff),
  url(../fonts/notosans/NotoSansKR-Medium.woff2);
  font-weight: 500;
}

@font-face {
  font-family: 'notosans';
  src: url(../fonts/notosans/NotoSansKR-Bold.otf),
    url(../fonts/notosans/NotoSansKR-Bold.woff),
    url(../fonts/notosans/NotoSansKR-Bold.woff2);
  font-weight: 700;
}
