.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.underline {
    text-decoration: underline !important;
}

.color-black{color:#000000 !important;}
.font-16{font-size:16px !important;}

.ico__medal {
    display: inline-block;
    width: 16px;
    height: 19px;
    background: url(/assets/images/icon_medal.png) no-repeat center
}

.select {
    &.small {
        &::after {
            top: 11px;
            right: 11px;
        }

        .select__box {
            height: 32px;
            font-size: 13px;
        }
    }
}

.input {
    position: relative;
    color: #666666;

    &.small {
        .input__box {
            width: 100%;
            height: 32px;
            padding: 0 13px;
            border-radius: 3px;

            &[readonly] {
                color: #424952;
                cursor: default;
                background: #F3F3F3;
            }

            &.w245 {
                width: 245px;
                min-width: 245px;
            }
        }
    }
}

.lever__check {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;

    input[type="checkbox"] {
        position: relative;
        top: 1px;
        width: 16px;
        height: 16px;
        border: 1px solid #999999;
        background: #fff;
        box-sizing: border-box;
        outline: none;
        cursor: pointer;
        appearance: none;
        transition-duration: 0.3s;
        opacity: 1;

        &+span {
            display: inline-block;
            vertical-align: top;
            margin-left: 10px;

        }

        &:checked {
            &::before {
                content: "";
                display: block;
                position: absolute;
                left: 3px;
                top: 50%;
                width: 8px;
                height: 8px;
                margin-top: -4px;
                text-align: center;
                color: rgb(0, 76, 144);
                background: rgb(0, 76, 144);
                box-sizing: border-box;
            }
        }

        &:disabled {
            &+span {
                color: rgba(0, 0, 0, 0.42);
            }
        }
    }
}

.btn__sort {
    display: flex;
    margin: 20px 0 20px 0;
    align-items: center;

    .part__right {
        margin-left: auto;

        button {
            &~button {
                margin: 0 0 0 10px;
            }
        }
    }
}

.filter__sort {
    display: flex;
    margin: 30px 0 20px 0;
    padding: 22px 30px 19px 30px;
    align-items: center;
    border: 1px solid #E6E6E6;
    border-radius: 3px;

    .part {
        &__right {
            white-space: nowrap;
        }

        &__left {
            width: 100%;
        }
    }

    .filter__finder {
        display: flex;
        width: 100%;
        padding-right: 53px;
        align-items: center;

        dt {
            white-space: nowrap;
            margin: 0 13px 0 0;
            color: #666666;
            width: 100%;
            padding-left: 12px;
            text-align: right;
            font-size: 12px;
            font-weight: 500;
            color: #666666;
        }

        dd {
            width: 100%;

            input {
                width: 100%;
            }
        }

        .dd-select {
            width: 127px;
            min-width: 127px;
        }

        .w164 {
            width: 164px;
            min-width: 164px;
        }

        .w143 {
            width: 143px;
            min-width: 143px;
        }
    }
}

.table__list {
    &.center{
        th,td{
            text-align: center;
        }
    }
    thead {
        background: #F5F8FA;
        border-top: 1px solid #DAE3ED;
        border-bottom: 1px solid #DAE3ED;

        /* tr.center {
            th {
                text-align: center !important;
            }
        } */

        th {
            padding: 24px 5px 24px 15px;
            font-size: 14px;
            color: #424952;
            text-align: left;
            vertical-align: middle;

            &~th {
                padding: 24px 5px;
            }
        }
    }

    tbody {
        /* tr.center {
            td {
                text-align: center !important;
            }
        } */

        td {
            font-size: 14px;
            padding: 24px 5px 24px 15px;
            border-bottom: 1px solid #DAE3ED;

            &~td {
                padding: 24px 5px;
            }
        }

        .lever__subj {
            display: flex;
            display: -webkit-flex;
            flex-direction: row;

            .subj {
                margin: 0 0 0 10px;
            }
        }

        .subj {
            color: #12A6BE;
        }

        .name {
            position: relative;
            padding: 0 0 0 20px;

            .ico__medal {
                position: absolute;
                left: 0;
                top: -2px;
            }
        }
    }
}

.page-sub__title {
    margin: 30px 0 30px 0;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
}

.bundle {
    padding: 30px 20px;
    border: 1px solid #BEC9D4;

    .data-table {
        width: 100%;
        margin: 20px 0 0 0;
    }
}

.field-form {
    display: flex;
    flex-direction: column;

    &~.field-form {
        margin: 20px 0 0 0;
    }

    &.unit {
        flex-direction: row;
        flex-grow: 0;

        dl {
            dd {
                display: flex;

                .input {
                    &~.input {
                        margin: 0 0 0 10px;
                    }
                }
            }
        }

        .input__box {
            width: auto;

            &.w167 {
                width: 167px;
                min-width: 167px;
            }

            &.w556 {
                width: 556px;
                min-width: 556px;
            }
        }
    }

    &.half {
        flex-direction: row;
        flex-grow: 1;

        dl {
            &~dl {
                margin: 0 0 0 28px;
            }
        }
    }

    dl {
        width: 100%;

        dt {
            margin: 0 0 10px 0;
            font-size: 14px;
            font-weight: 500;
        }

    }
}

.wrap-btn {
    display: flex;
    margin: 20px 0 0 0;

    .btn {
        &__right {
            margin-left: auto;

            button {
                &~button {
                    margin: 0 0 0 8px;
                }
            }
        }
    }

}

.tab__group {
    position: relative;
    margin: 20px 0 0 0;

    .tab {
        position: relative;

        &::before {
            content: "";
            display: block;
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 1px;
            background: #BEC9D4;
        }

        &::after {
            content: "";
            display: block;
            clear: both;
        }

        .button {
            &__tab {
                float: left;
                position: relative;
                width: 393px;
                padding: 15px 12px;
                font-size: 18px;
                text-align: center;
                color: #8996A3;
                background: #F5F8FA;
                border: 1px solid #BEC9D4;
                z-index: 1;
                
                &~.button__tab {
                    margin-left: -1px;
                }
                &.active{
                    font-weight: 700;
                    font-size: 18px;
                    color: #2C3238;
                    background:#fff;
                    border:1px solid #424952;
                    border-bottom:1px solid #fff;
                    z-index: 2;
                }
            }
            
        }

        &__container {
            position: relative;
        }

        &__content {
            position: relative;
        }
    }

    .btn {
        position: absolute;
        right: 12px;
        top: 13px;
    }
}

.data-table{
    &.usage-table{
        border:1px solid #E0E6ED;
        border-bottom:none;
        &__th{
            color:#3E454D;
            border-bottom: 1px solid #E0E6ED;
        }
        &__td{
            color:#3E454D;
            border-bottom: 1px solid #E0E6ED;
        }
    }
    & th.cell-blue{
        background: #DAE3ED
    }
}

